body {
  background: url("https://i.pinimg.com/564x/19/65/5d/19655dd627723c04a7889a8384582341.jpg")
    no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  font-family: Arial, sans-serif;
}
